:root{
    --main: linear-gradient(to right, #383638 , #383641);;
    --accent: #24282A;
    --first: hsla(0,0%,100%,.6);
    --second:#383641;
}

body{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: var(--first);
}

.text-fisrt{
    color: var(--first);
}

.bg-fisrt{
    background: var(--first);
}

.stand-out{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.2rem;
}

.bg-main{
    background: var(--main) !important;
}
.bg-accent{
    background: var(--accent) !important;
}
/* 
._sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
} */
/* 
._content{
    margin-left: 20rem;
} */


.card-text{
    color: var(--first);
}

.card-title{
    color: var(--light);
}


.bg-second{
    background: var(--second) !important;
}

.text-second{
    color: var(--second) !important;
}

.btn-shadow{
    background: rgba(0,0,0,.2);
    color: var(--light);
}