:root{
    --main: linear-gradient(to right, #383638 , #383641);;
    --accent: #24282A;
}

body{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.stand-out{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.2rem;
}

.bg-main{
    background: var(--main) !important;
}
.bg-accent{
    background: var(--accent) !important;
}
/* 
._sidebar{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
} */
/* 
._content{
    margin-left: 20rem;
} */